<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet'>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Twealr - Together We Heal</title>
<meta name="description" content="Twealr. Health knowledge at your fingertips. Ask. Share. Interact. Together We Heal">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<%= stylesheet_link_tag 'application', media: "all" %>
<%= javascript_include_tag 'application'%>
</head>
<body id="<%= @bodyId %>">
  <%= yield %>
<!--PRELOAD-->
<div id="preloader">
  <div id="status"></div>
</div>
<!--end PRELOAD--> 
<!--site-footer-->
<footer class="site-footer section-spacing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="scroll-top"><a href="#"><i class="fa fa-chevron-up"></i></a></p>



        <% unless @user.present? && @user.persisted? %> <img src="/assets/start/logo2.png" data-at2x="/assets/start/logo2.png" alt="logo"> <% end %>
  <a class="footer-mailto logo-blue" href="mailto: info@twelr.com" >info@twealr.com</a>
        <!--social-->

        <ul class="social">
          <li class="wow fadeInUp"><a href="https://twitter.com/" class="logo-blue-bg" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li class="wow fadeInUp"><a href="https://www.facebook.com/"  class="logo-blue-bg" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li class="wow fadeInUp"><a href="https://plus.google.com/"  class="logo-blue-bg" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        </ul>

        <!--social end-->


        <small class="wow fadeInUp">&copy; Twealr 2014 <%= link_to 'Disclaimer', page_path('disclaimer'), class: 'logo-blue'%></small> </div>
    </div>
  </div>
</footer>
<!--site-footer end-->
<%= render 'layouts/google_analytics' if Rails.env.production? %>
</body>
</html>
